thead {
    background-color: #030303; 
    color: #ffffff;            
  }
  
  thead th {
    font-weight: bold;
  }
  

  table {
    width: 50%;
  }

  h3 {font-family: system-ui;}

  img {height: 200px;}