<div class="container">
  <h3>El aroma mágico</h3>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Roasted_coffee_beans.jpg/1024px-Roasted_coffee_beans.jpg" class="img-fluid" alt="Responsive image">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Región</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cafe of cafes">
        <td>{{ cafe.id }}</td>
        <td>{{ cafe.nombre }}</td>
        <td>{{ cafe.tipo }}</td>
        <td>{{ cafe.region }}</td>       
      </tr>
    </tbody>
  </table>
<div class="mt-3">
  <strong>Total café origen:</strong> {{ origen }} 
</div>
<div class="mt-3">
  <strong>Total café blend:</strong> {{ blend }} 
</div>
</div>
